<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Buzz</title>
    </head>
  <style media="screen" type="text/css">

    #imgContainer {
        width:100%;
    }
    #imgContainer > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #textBuzz {
        font-size : 28px;
        text-align:center;
        margin:0;
    }
    .buzzDisabled {
        background-color: grey;
    }
    .buzzEnabled {
        background-color: green;
    }
    html, body {
        margin: 0;
        height: 100%;
    }

</style>
    <body class="buzzDisabled">
        <div id="header">
            <p id="textBuzz">
                    <%= teamName %>
            </p>
            <p style="text-align:center;">[<a href="<%=baseAddress%>/">Change team name</a>]</p>
        </div>

        <div id="imgContainer">
            <img id="imgLikeASir" src="<%=baseAddress%>/images/sir.gif" style="display:none">
        </div>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var audioElement = document.createElement('audio');
            var buzzerArmed = false;
            audioElement.setAttribute('src', '<%=baseAddress%>/sounds/MarioJump.wav');
            $.get();


            //Disable the buzzer
            function disableBuzzer(message) {
                $('#imgLikeASir').hide();
                $('body').toggleClass('buzzEnabled buzzDisabled');
            }

            //Shows the 'like a Sir' guy
            function first(){
                $('#imgLikeASir').show();
            }

            //Enable the buzzer
            function enableBuzzer() {
                $('#textBuzz').html('<%=teamName%>');
                $('body').toggleClass('buzzDisabled buzzEnabled');
                $('#imgLikeASir').hide();
            }

            //-----------------------------------------------------------
            
            var socket = io.connect('<%=baseAddress%>/');
            socket.emit('team-connection','<%= teamName %>');
            socket.on('displayMessage',function(message){
                 alert(message);
            });

            socket.on('order',function(teamList){
                $('#textBuzz').html("");
                teamList = teamList.filter(function (el) {
                        return el.teamSocketId == socket.id;
                       });
                if (teamList[0].buzzOrder == 1){
                    first();
                }
                 $('#textBuzz').html(teamList[0].teamName + " #"+teamList[0].buzzOrder );
   
            });

            socket.on('start',function(){
                enableBuzzer();
                $('#header').hide();
                buzzerArmed = true;
            });

            socket.on('stop',function(){
                disableBuzzer();
            });

             $('body').click(function () {
                if (buzzerArmed == true) {
                    socket.emit('buzz');
                    disableBuzzer();
                    audioElement.play();  
                    buzzerArmed = false;  
                    $('#header').show();            
                }

            })
        </script>
    </body>
</html>